<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>@property@synthesize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MSMutableString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NSArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NSData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NSDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NSIndexSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NSMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NSMutableSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NSSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCEDBC971C69CD1900EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCA91C69DF2A00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCBA1C69F14200EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCC51C6A069E00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCD01C6B189C00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCDB1C6B652D00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCE61C6B70DF00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCF11C6B769500EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCFC1C6B78FA00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD071C6B7EC100EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD121C6B850400EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD1D1C6B888600EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD281C6B8BC000EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD331C6B93AC00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
