<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>@property@synthesize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>@property参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Blocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>KVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>KVC2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>KVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>MSMutableString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NSArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NSData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NSDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NSIndexSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NSMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NSMutableSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NSSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>OC内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Protocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>关于OC中继承.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>多对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>常用结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>指向函数的指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>浅拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>深拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>类扩展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>通知中心.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC0FE8E61C6C530C00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE8F71C6C646D00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9281C6C9DDA00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9391C6CA6F200593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE94A1C6CB10E00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9551C6CB6A100593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9661C6CBD1F00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9711C6CBDA700593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9AC1C6F114700593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9B71C6F2CE400593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9C71C6F3B9000593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9D81C6F4B0A00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9E61C6F57C900593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FE9F41C6F63BD00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FEA051C6F6EB900593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FEA101C6F7BBA00593B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC7EFF401C6FA9E80075340B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC7EFF7C1C710DF50075340B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBC971C69CD1900EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCA91C69DF2A00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCBA1C69F14200EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCC51C6A069E00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCD01C6B189C00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCDB1C6B652D00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCE61C6B70DF00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCF11C6B769500EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBCFC1C6B78FA00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD071C6B7EC100EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD121C6B850400EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD1D1C6B888600EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD281C6B8BC000EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEDBD331C6B93AC00EC8E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
